@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.form-section {
    display: none;
}

.form-section.current {
    display: inline;
}

.parsley-errors-list {
    color: red;
}

.custom-container {
    margin-left: 72px;
    margin-right: 72px;
}

.custom-container-2 {
    margin-left: 72px;
    margin-right: 72px;
}

@media screen and (max-width: 1000px) {
    .custom-container {
        margin-left: 15px;
        margin-right: 15px;
    }

    .background h2 {
        margin-left: 15px !important;
    }
}

/* .background {
    position: relative;
    overflow: hidden;
    height: 1000px;
} */

.background {
    /* background: linear-gradient(120deg, #111827 70%, #00AFEA 30%);
    transform-origin: top right;
    z-index: -1; */
    height: 170px;
    background-color: #f5f6f8;
}

.bg-opleft {
    position: absolute;
    width: 600px;
    height: 170px;
    left: -90;
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0),
        rgba(125, 123, 133, 0.3)
    );
    z-index: 1;
}

.zeedds {
    z-index: 1;
}

.block-pic {
    position: absolute;
    width: 150px;
    height: 100px;
    bottom: -50;
    right: -90;
    transform: rotate(120deg);
    background-color: #00afea;
    box-shadow: 10px 10px 50px 30px #00afea;
    z-index: 1;
}

.color-head {
    color: rgba(0, 0, 0, 0.32);
    font-weight: 500;
}

.titan-one-regular {
    color: black;
}

@media screen and (max-width: 1000px) {
    .pic-bright {
        filter: brightness(100%);
        transition: 0.3s;
    }

    .titan-one-regular {
        color: rgb(0, 0, 0);
        transition: 0.3s;
    }

    .color-head {
        color: rgb(44, 44, 44);
        transition: 0.3s;
    }

    /* .bg-opleft {
        position: absolute;
        width: 100%;
        height: 170px;
        left: -90;
        background-color: #d4d6d9;
        z-index: 0;
        transition: 0.3s;
    } */

    .zeedds {
        margin-left: 20px;
    }

    .block-pic {
        position: absolute;
        width: 150px;
        height: 100px;
        bottom: -50;
        right: -90;
        transform: rotate(120deg);
        background-color: #00b0ea79;
        box-shadow: 10px 10px 50px 30px #00b0ea79;
        z-index: 1;
    }
}

@media screen and (max-width: 767px) {
    /* .pic-bright {
        filter: blur(1px);
    } */

    .titan-one-regular {
        text-align: center;
    }

    .color-head {
        text-align: center;
        line-height: 19px;
        font-size: 14px;
    }

    .zeedds {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -2px;
    }
}

/* .background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #111827 70%, #00AFEA 30%);
    transform-origin: top right;
    transform: skewX(-40deg);
    z-index: -1;
} */

.weigth {
    font-weight: 600;
}

.weigth-2 {
    font-weight: 500;
}

.placeholder-1::placeholder {
    text-align: center;
    color: #6b7280;
    font-weight: 500;
    font-size: 15px;
    line-height: 18.15px;
}

/* login */
.login-button:hover {
    background-color: #111827;
    transition: 0.6s;
}

.login-button:hover img {
    filter: brightness(1500%);
    transition: 0.6s;
}

.login-button:hover h1 {
    color: white;
    transition: 0.6s;
}

.shadow-search {
    box-shadow: 0 0 10px 0 rgba(211, 211, 211, 0.5);
}

@media screen and (max-width: 656px) {
    .background h2 {
        font-size: 25spx;
    }

    .input-slide {
        width: 120px;
        position: absolute;
        z-index: 30;
        top: 60px;
        right: 0;
    }
}

.next-button {
    padding: 10px;
    border: 1px solid #111827;
}

.next-button:hover {
    color: #111827;
    background-color: white;
    border: 1px solid #111827;
    transition: all 0.3s;
}

.card-near-footer {
    background-color: #f3f4f680;
    border-radius: 20px;
    transition: all 0.5s;
}

.card-near-footer:hover {
    background-color: #f3f4f680;
    border-radius: 20px;
    transform: scale(1.03);
    box-shadow: 0 0 15px 0px rgba(128, 128, 128, 0.299);
}

.card-text:hover p {
}

@media screen and (max-width: 480px) {
    .background h2 {
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        margin: 0 !important;
        padding: 0 !important;
    }
}

.sub-button:hover {
}

/* footer */
.custom-footer {
    padding-left: 72px;
    padding-right: 72px;
}

@media screen and (max-width: 1000px) {
    .custom-footer {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 480px) {
    .custom-container {
        padding-left: 1px;
        padding-right: 1px;
    }
}

.footerres {
    display: none;
}

@media screen and (max-width: 640px) {
    .footerres-main {
        display: none;
    }

    .footerres {
        display: block;
    }

    .mt-footer {
        margin-top: 12px;
    }

    .mt-toimg {
        margin-top: 14px;
    }
}

.custom-question:hover {
    box-shadow: 0 6px 18px 0 rgba(238, 121, 0, 0.2),
        0 2px 4px -1px rgba(238, 121, 0, 0.1);
    transition: 0.3s;
}

.shadow-custom {
    box-shadow: 0 6px 18px 0 rgba(238, 121, 0, 0.2),
        0 2px 4px -1px rgba(238, 121, 0, 0.1);
    transition: 0.3s;
}

/* control question layouting */
.layout {
    width: 240px;
    height: 210px;
}

.option-text-ques {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.mt-quest {
    margin-top: 25px;
}

.radius-border-q {
    border-radius: 24px;
}

.label-panel {
    font-size: 18px;
}

@media screen and (max-width: 649px) {
    .layout {
        width: 378px;
        height: 170px;
    }

    .img-custom-ques {
        width: 70px;
        height: 70px;
    }

    .option-text-ques {
        font-size: 14px;
    }

    .mt-quest {
        margin-top: 26px;
    }
}

/* phone */
@media screen and (max-width: 480px) {
    .phone-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .layout {
        width: 340px;
        height: 100%;
    }

    .mt-quest {
        margin-top: 0px;
    }

    .text-question {
        margin-top: 0px;
    }

    .radius-border-q {
        border-radius: 15px;
    }

    .label-panel {
        font-size: 16px;
    }
}

/* custom required quesrrion 8 */
.custom-required-message {
    display: block;
    color: #9ca3af;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    margin-top: 4px;
}

/* progres bar */
.on-layout {
    width: 116.5px;
    height: 6px;
}
